#banner{ 
    background-size: cover;
    background-position: 57% 50%;
    height: auto;
    padding:30px 40px;
    box-sizing: border-box;
    color: #fff;
    min-width: 360px;
}

#banner h3{
    font-size: 1.7rem;
}

#banner h1{
    font-size: 2.3rem;
    font-weight: 500;
}